<%- include('../partials/header'); -%>

<div class="container" >
    <div class="row">
        <div class="col-md-3">           
        </div>
        <div  class="col-md-9" >
            <div class="card "  >
                <img src=" <%= content.image %> " class="img-fluid ">
                <div class="card-body">
                    <h3 class="card-title"><%= content.name %> </h5>
                    <h6 class="font-weight-bold">Genre: <%= content.genre %> </h6>
                    <p class="card-text"><%- content.description %>  </p>
                    <% if(currentUser && content.author.id.equals(currentUser._id)){ %> 
                        <a class="btn btn-warning" href="/review/<%=content._id%>/edit">Edit</a>
                        <form id="delete-form" action="/review/<%=content._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete </button>
                        </form>
                    <% } %> 
                </div>                            
                 
                <div class="card-footer text-muted">
                    <p>Rating: 
                        <% for(var i=0;i<content.rating;i++){ %>
                            <span class="fas fa-star "></span>
                        <% } %>
                        <% for(var j=0;j<5-content.rating;j++){ %>
                            <span class="far fa-star "></span>
                        <% } %>
                    </p>
                    <p>Category : <%= content.category %> </p>
                    <p><span class="text-left"><%= content.author.username %></span> <span class="float-right"><%= content.date.toDateString() %> </span></p>
                </div>          
            </div>
            <div class="card bg-light mb-3 mt-3">
                <div class="card-body">
                  <div class="text-right">
                    <a class="btn btn-success" href="/review/<%= content._id %>/comments/new ">Add new comment</a>
                  </div>
                  <hr>
                  <% content.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-right"><%= comment.date.toDateString() %></span>
                            <p>
                                <%= comment.text %> 
                           </p>
                           <% if(currentUser && comment.author.id.equals(currentUser._id)){ %> 
                           <a href="/review/<%= content._id %>/comments/<%= comment._id %>/edit" 
                            class="btn btn-warning btn-sm">Edit</a>
                            <form id="delete-form" action="/review/<%= content._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input  type="submit" class="btn btn-sm btn-danger" value="Delete">
                            </form>
                        <% } %> 
                        </div>
                    </div>                    
                <% }) %> 
                </div>
              </div>
        </div>
    </div>

</div>












<%- include('../partials/footer'); -%>  